<!DOCTYPE html>
<html>

<head>
    <title>Quiz-Success</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styleForRadio.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/assets/multipleQuizFormStyle.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery-3.3.1.min.js"></script>
</head>

<body>
    <script>
        console.log("ahly");
    </script>
</body>

</html>